QTabBar#mainTabBar {
    icon-size: 32px;
    border: none;
}

QTabBar#mainTabBar::tab {
    height: 50px;
    width: 100%;
    border: none;
    margin: 0px;
    padding-bottom: 22px;
}

QTabBar#mainTabBar::tab:hover {
    background-color: rgba(66, 112, 129, 0.5);
}

QTabBar#mainTabBar::tab:selected {
    background-color: rgba(66, 112, 129, 1);
}

QWidget#centralwidget {
    margin: 0;
    padding: 0;
}